*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#f8f9fa;
    color:#222;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:100;
}

header h1 {
    font-size: 1.8rem;
    color:#4f46e5;
}

nav a{
    margin-left:20px;
    font-weight:500;
    color:#333;
}
nav a:hover{color:#4f46e5;
    transition:0.3s;
    font-weight: bold;
}

.hero {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #4f46e5, #6366f1);
}

.hero h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 28px;
    font-weight: w500;
}

.hero a {
    background:#fff;
    color:#4f46e5;
    padding: 13px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.hero a:hover {
    transform: scale(1.05);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:80px 20px;
 
}

.about h1 {
    font-size: 2.4rem;
    margin-bottom:20px;
    color:#4f46e5;
}

.about p {
    max-width:700px;
    margin:0 auto;
    color:#555;
}

section.projects {
    background: #f1f5f9;
    padding: 80px 20px;
}

.projects h1 {
    text-align: center;
    padding-bottom: 30px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
} 

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 1;          /* grow, shrink, basis = 250px */
          /* optional to limit large cards */
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.project-card img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3 {
  color: #333;
  margin-bottom: 10px;
}

.project-card p {
  color: #555;
  font-size: 0.95rem;
}

section.contact {
    align-items: center;
    padding: 80px 20px;
}

.contact h1 {
    font-size: 2.4rem;
    margin-bottom: 30px;
    color:#4f46e5;
    text-align: center;
    
}

.contact form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

.contact input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size:0.95rem;
}

.contact button {
    padding: 12px;
    background: #4f46e5;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    transform: scale(1.05);
    background: #6366f1;
}

footer {
    background: #222;
    color: wheat;
    padding: 25px;
    text-align: center;
    font-size: 0.8rem;
}

footer span {
    color: #4f46e5;
}

footer a {
    color: aquamarine;
    margin: 0 10px;
    transition: 0.3s;
}

footer a:hover {
    color: wheat;
}

@media(max-width:768px){
    .hero h2{
        font-size:2rem;
    }
    .projects h2,
    .about h2{
        font-size:1.8rem;
    }
}